* {
    text-align: center;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%
}

.timer {
    margin: 0px;
    padding: 0;
}

.main-screen {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    display: block;
    text-align: center;
    padding-top: 75px;
}

main p {
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

.start-quiz {
    background-color: purple;
    color: white;
    width: 100px;
    height: 35px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.high-score-buttons {
    display: inline-block;
    margin-top: 5px;
}

.go-back {
    background-color: purple;
    color: white;
    width: 90px;
    height: 35px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.clear-highscores {
    background-color: purple;
    color: white;
    width: 150px;
    height: 35px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

h2 {
    font-size: 21px;
}

.hide {
    display: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    display: block;
    text-align: center;
    padding-top: 75px;
}

.btn {
    display: block;
    background-color: purple;
    color: white;
    margin: 5px;
    width: 150px;
    height: 35px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

#response {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}